<% renderBrick(brickDetail.brick) %>

<% function renderBrick(brick) { %>			
	<% brick = (brick.___ !== undefined) ? brick.___ : brick %>
	<% var brickType = brick._ ? brick._.brickType : undefined %>
	<li data-brick-type-id='<%= brick.__.brickTypeId %>' data-brick-type-interfaces='<%- brickType ? JSON.stringify(brickType.interfaces) : "" %>' data-list-item-type="brick">
		<span class="brick-id"><%= brick.__.id %></span>
		<span class="brick-type-id">[<%= brick.__.brickTypeId %>]</span>
			
		<% if (brickType !== undefined) { %>
			<% var propertyPaths = Object.keys(brickType.__.properties) %>		
			<% if (propertyPaths.length > 0) { %>
				<ul data-list-type="brickProperties">
					<% propertyPaths.forEach(function(propertyPath) { %>
						<% var property = brickType.__.properties[propertyPath] %>
						<li data-list-item-type="brickProperty" data-brick-property-type-id="<%-property.type%>">
							<span class="property-path"><%= propertyPath %></span>
							<span class="property-type-id">[<%= property.type %> <%=property.mode ? property.mode : "single" %>]</span>

							<% var value = brickType.getPropertyValue(brick, propertyPath) %>
							<% if (property.type === "codebrick" && value !== undefined) { %>
								<% if (property.mode == "hash") { %>
									<% var propertyKeys = Object.keys(value) %>
									<dl data-list-type="propertyHash">
										<% propertyKeys.forEach(function(propertyKey) { %>
											<dt><%= propertyKey %></dt>
											<dd data-list-type="propertyKey">
												<% if (value[propertyKey]._) { renderBrick(value[propertyKey]); } %>
											</dd>
										<% }) %>
									</dl>
								<% } else if (value !== undefined) { %>
									<% var childBricks = property.mode == "array" ? value : [value]; %> 
									<ul data-list-type="bricks">
										<% childBricks.forEach(function(childBrick) { %>
											<% if (childBrick._) { renderBrick(childBrick); } %>
										<% }) %>
									</ul>
								<% } %>
							<% } else { %>
								<span class="property-value">= <%- value %></span>
							<% } %>
						</li>
					<% }) %>
				</ul>
			<% } %>
		<% } %>
		
	</li>
<% } %>